<!DOCTYPE html>
<html>

<head>
    <title>{{name}}</title>
    <link href="/styles/app.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div>
            <img src="/images/k8s-docker.png" />
        </div>
        <div class="content">
            {{{body}}}
        </div>
    </div>
</body>

</html>